BACKEND_URL=http://localhost:8000

SHEET_URL="https://docs.google.com/spreadsheets/d/1dzU5LizF_I7Qcyqxeig-EX6hLPG9nsX-RJXBLPGbPTE/edit?usp=sharing"
GOOGLE_SERVICE_ACCOUNT_FILE=rejects-analyze-8436e6cbcd85.json

LLM_PROVIDER=openai
LLM_API_KEY=
LLM_BASE_URL=
LLM_MODEL_NAME=gpt-4o

QDRANT_URL=http://localhost:6333x
QDRANT_COLLECTION=reject_cases
CACHE_DIR=data/cache
